<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equation Solver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <script src="{{ url_for('static', filename='scripts/webassembly/bins.js') }}"></script>
</head>
<body>
    <header id="header">
    <h1>Solve It!</h1>

    </header>
    <main>
      <!-- Buttons to select a calculation type -->
      <button class="select" onclick="getSolver('calculator')">Calculator</button>
    <button class="select" onclick="getSolver('simultaneous')">Simultaneous Equations</button>
    <button class="select" onclick="getSolver('quadratic')">Quadratic Equations</button>
    <!-- Input field and "Solve" button -->
    <div class="equation-input" id="equation-input">
       <br><br>

        <label for="equation">Enter an Equation:</label>
        <div class="grow-wrap">
        <textarea type="text" id="equation" name="equation" placeholder="e.g., 2x + 3 = 7" required autocomplete="off" 
        onInput="this.parentNode.dataset.replicatedValue = this.value" 
        autosize></textarea>
        </div>
        <br><br>
    <div class="answer-box">
        <h4 id="result"></h4>
        </div>
    </div>
    <button id="solve" type="button" onclick="solve()">Solve</button>
    <br><br>
    
    </main>
    <footer>
        <h4>operator precedence</h4>
        <ul>
            <li>()</li>
            <li>√, ^</li>
            <li>/</li>
            <li>÷</li>
            <li>*, ×</li>
            <li>+, -</li>
        </ul>
    </footer>
    <script>
      const solvers = {};
      let type;
      
      const input = document.getElementById('equation-input');
      input.style.display = 'none';
      document.getElementById('solve').style.display = 'none'

      function showInput(calculationType) {
	  type = calculationType;
	  if (calculationType === 'simultaneous') {
	      document.getElementById('equation-input').style.display = 'block';
	  } else if (calculationType === 'quadratic') {
	      document.getElementById('equation-input').style.display = 'block';
	  } else {
        document.getElementById('equation-input').style.display = 'block';
      }
      }

      function readyToSolve() {
	  document.getElementById('solve').style.display = 'block';
      }

      function getSolver(type) {
	  Module = {};
	  showInput(type);
	  if (!solvers[type]) {
	      getBin(type);
	      Module.onRuntimeInitialized = () => {
		  solvers[type] = Module;
		  readyToSolve();
	      };
	  }
      }

      async function solve() {
	  const solver = solvers[type];
          const inputString = document.getElementById('equation').value;
	  const byteSize = new Blob([inputString]).size;
	  const inputStringPointer = solver._malloc(byteSize  + 1);
	  solver.stringToUTF8(inputString,
			      inputStringPointer,
			      byteSize + 1
			     );
	  const resultPointer = await solver._solve(inputStringPointer);
	  const resultString = solver.UTF8ToString(resultPointer);
	  solver._free(inputStringPointer);
      console.log("bfore 1", document.getElementById('result').innerText);
      console.log("result ", resultString);
          document.getElementById('result').innerText = "";
          console.log("bfore 2", document.getElementById('result').innerText);
          document.getElementById('result').innerText = resultString;
          solver._free(resultPointer);
	
      }
    </script>
</body>
</html>

