*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #0F52BA;
    color: white;
}

main , footer{
    padding: 25px;
    display: block;
}
main {
    margin: 5px;
    flex-grow: 1;
}

textarea:focus {
    outline: none;
    background-color: aqua;
}

#instruction{
    display: block;
    padding: 20px 15px 0 15px;
    font-style: italic;
    font-size: large;
    color: grey;
}
.equation-input{
    margin: auto;
    display: block;
    max-width: 700px;
    width: 70vw;
    border: 2px solid black;
    padding: 0px;
    background-color: ;
}

.equation-input:focus-within {
    outline: auto;
    transition: 0.72s;
    
}
.answer-box , #equation, .grow-wrap::after{
    font-size: 25px;
    height: auto;
    width: 100%;
    margin: 0;
    border: 0;
    display: block;
    padding: 20px 20px 50px 20px;
}
.answer-box {
    text-align: end;
    padding-bottom: 20px;
    min-height: 35px;
    border-top: 2px solid black;
}
.radio-box{
    border: 2px solid black;
    font-size: 15px;
    padding: 5px;
    display: inline-block;
    margin: 5px 0 5px 0;
    transition: all 0.3s;
}
.select {
    display: none;
}

.select:checked + label{
    background-color: #ff6357;
    color: white
}
.radio-box:hover {
    background-color: rgba(255, 99, 87, 0.2);
    transition: 0.7s;
}

#solve {
    background-color: #ff6357;
    width: 70vw;
    height: 50px;
    font-size: 15px;
    color: white;
    display: block;
    border: 2px solid black;
    margin: auto;
}

footer {
    width: 100%;
    color: white;
    background-color: #0F52BA;
    margin-top: auto;
}


.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
 font-size: 25px;
  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

